.body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 1em;
}

.section {
    padding: 2em;
}

.h2 {
    text-align: center;
    font-size: 30px;
    color: #2cbfe4;
}

.certificate {
    margin:2% 10%;
    max-width: 80%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.p{
    font-size: 16px;
    color: black;
}